<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>einloggen</welcome-file>
    </welcome-file-list>


    <!--Ersetzt Anutation @WebServlet im Servlet!!! Man kann selbst wählen, ob Eintrag in Web.xml oder Annutation im Servlet. Ein Mischung aus beiden ist auch möglich! -->
    <servlet>
        <servlet-name>Login</servlet-name> <!--Servlet-Name-->
        <servlet-class>de.gbsschulen.bookstore.login.LoginServlet</servlet-class> <!--Vollqualifizierter Klassenname-->
    </servlet>


    <servlet>
        <servlet-name>ListsBook</servlet-name>
        <servlet-class>de.gbsschulen.bookstore.book.ListsBookServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/einloggen</url-pattern> <!--Achtung: ".do" weggelassen, damit der Filter für das Einloggen umgangen wird-->
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ListsBook</servlet-name>
        <url-pattern>/listsBooks.do</url-pattern>
    </servlet-mapping>

</web-app>